.maplibregl-popup {
  font-size: 14px;
}

.maplibregl-popup-content {
  padding: 10px 12px;
}

.maplibregl-popup-close-button {
  font-size: 18px;
}

/* MapLibre ポップアップの外側レイヤーを透明化 */
.maplibregl-popup-content {
  background: transparent !important;
  box-shadow: none !important;
  padding: 0 !important;
}

/* 吹き出しの三角（tip）を消す */
.maplibregl-popup-tip {
  display: none !important;
}
